*{padding: 0; margin: 0;}
.Outbox{
    width: 70%;
    margin: 0 auto;
    height : 1000px;
    background-color: aqua;
}
.inbox{
    width: 50%;
    height: 1000px;
    margin: 0 auto;
}
h1{
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
table{
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    border: 0px;
}
td{
    transition-duration: 0.3s;
    font-family:inherit;
}

td:hover{
    background-color: white;
    color : blue;
    transition-duration: 0.3s;
}